<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <logger name="org.springframework.web" level="INFO"/>
    <logger name="org.springboot.sample" level="TRACE" />

    <!-- 开发、测试环境 -->
<!--    <springProfile name="dev,test">-->
<!--        <logger name="org.springframework.web" level="INFO"/>-->
<!--        <logger name="org.springboot.sample" level="INFO" />-->
<!--        <logger name="com.sitech" level="DEBUG" />-->
<!--    </springProfile>-->

    <!-- 生产环境 -->
<!--    <springProfile name="prod">-->
<!--        <logger name="org.springframework.web" level="ERROR"/>-->
<!--        <logger name="org.springboot.sample" level="ERROR" />-->
<!--        <logger name="com.sitech" level="ERROR" />-->
<!--    </springProfile>-->


    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{HH:mm:ss}][%p][%c{40}][%t] %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <root level="INFO">
        <appender-ref ref="console"/>
    </root>
</configuration>